aside.sidebar {
  flex: 3;
  margin-top: 2rem;
  padding: 0 1.5rem;
}
.widget {
  margin-bottom: 1rem;
  h3 {
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }
  h3, p {
    margin-top: 0;
  }

  ul {
    list-style: inside none;
  }
  li {
    border-top: 1px $litered solid;
    padding: .5rem 0;
    font-size: 1rem;
    font-weight: 700;
    font-family: "proxima-nova";
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  p {
    font-style: italic;
  }
}
