/* color */
$text: #333;
$darkred: #b74435;
$litered: #d04d36;
$palered: #e16b56;
$litegold: #ebb734;
$_palegold: #e5c784;
$palegold: #e4be68;
$twitter: #0094c2;
$facebook: #3b5998;
$bkg: #f2f0eb;

/* typography */
$basesize: 1rem; 
$line-length: 40rem;
$letter-spacing: 1px;

/* breakpoints */
$max: new-breakpoint(max-width 1200px 12);
$laptop: new-breakpoint(max-width 1024px 12);
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 500px 6);