.entry {
  ul, ol { margin: 1rem 0; }
  li:not(:last-of-type) {  margin-bottom: .625rem; }
  p:first-child {
      @include mq-min(desktop) {
        font-size: 1.375rem;
      }
  }
  li { font-size: .875rem; @include mq-min(tablet) { font-size: $baseFontSize; } }
  p:last-of-type { margin-bottom: 1.5rem; }
  iframe {
    margin-bottom: 1.5rem;
    @include mq-min(desktop) {
      width: 150% !important;
      margin-top: 1.5rem;
      margin-left: -25%;
    }
  }
  h3 {
    color: $litered;
    margin: 0 0 1.25rem;
    font-size: 1.375rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
  }
  h4 {
    color: $c3;
    margin: 0 0 1.25rem;
    // text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 700;
    font-style: italic;
    // letter-spacing: 2px;
  }
  blockquote {
    padding: .5rem 0;
    @include mq-min(tablet) {
      width: 150%;
      margin-left: -25%;
    }
    p {
      font-style: italic;
      color: darken($gray, 12.5%);
      @include mq-min(tablet) { font-size: 1.25rem; }
      &:first-of-type { margin-top: 0; }
    }
    &::after {
      content: "";
      display: block;
      background: $litered;
      margin: 1rem 0;
      width: 6rem;
      height: 2px;
    }
  }
}

.footnotes {
  margin-top: 2rem;
  border-top: 1px solid $litered;
  padding: .5rem 0;
}
