.site--footer {
	&_logo {
		max-width: 1.5rem;
		height: auto;
	}
	&_widget {
		flex: 1 0 19rem;
		padding: 1rem;
	}
}

.followus {
	padding: 0 .5rem;
	a {
		fill: $litered;
		&:hover { fill: $palegold; }
	}
	.social--media_link { padding: .5rem; }
}

.mccracken {
	position: relative;
	z-index: 1;
	&::before {
		content: "\201c";
		display: block;
		position: absolute;
		top: -.75rem;
		left: 0;
		font-size: 5rem;
		font-family: Georgia;
		font-weight: 700;
		color: rgba($litered, .125);
	}
}
