.site--header {
  // background: $litered;
  width: 100%;
  padding: 1rem;
  &_logo {  }
  &_img { max-width: 1.5rem; height: auto; }
  &_hl {
    margin-left: 1rem;
    color: $palegold;
    line-height: 1;
  }
  &_link {
    color: $palered;
    &:hover { color: $palegold;	}
  }
}
