.site--nav {
  &_btn {
    width: 3rem;
    height: 3rem;
    background: $c4;
    color: $bkg;
    padding: .25rem;
  }
  &_item {
    flex: 1;
    padding: 1rem;
  }
  a { color: $bkg; }
  &::before {
    content: "";
    border-left: 1.125rem solid transparent;
    border-right: 1.125rem solid transparent;
    border-bottom: 1.125rem solid $c1;
    position: absolute;
    top: -1.125rem;
    right: .5rem;
    @include mq-min(tablet) { right: 1.25rem; }
  }
  li {
    &:nth-child(1){ background: $c1; }
    &:nth-child(2){ background: $c2; }
    &:nth-child(3){ background: $c3; }
    &:nth-child(4){ background: $c4; }
  }
}
