.site--nav {
  // flex: 3 0;
  &_btn {
    width: 3rem;
    height: 3rem;
    background: $c4;
    color: $bkg;
    padding: .25rem;
  }
  &_item {
    flex: 1;
    padding: 1rem;
  }
  a { color: $bkg; }
  &::before {
    content: "";
    border-left: 1.25rem solid transparent;
    border-right: 1.25rem solid transparent;
    border-bottom: 1.25rem solid $c1;
    position: absolute;
    top: -1.25rem;
    right: 1rem;
  }
  li {
    &:nth-child(1){ background: $c1; }
    &:nth-child(2){ background: $c2; }
    &:nth-child(3){ background: $c3; }
    &:nth-child(4){ background: $c4; }
  }
}
