.post {
  &--short {
    border-top: .25rem solid $palered;
    flex: 5 0 18rem;

    overflow-y: hidden;
    &_container {
      padding: 1rem .25rem 1rem 1.25rem;
      @include mq-min(tablet) { padding: 0; }
    }
    &_i { height: 250px; }
  }
  &--linkpost {
    flex: 10 0 100%;
  }
  &--offset {
    &_top { margin-top: -1.875rem; }
    &_top-sm { margin-top: -.75rem }
    &_top { margin-top: .75rem; }
    &_cont {
      max-width: 5.5rem;
      width: 100%;
      min-height: 5rem;
    }
  }
  &--date {
  }
  &--short_link {
    &::after {
      content: "\2192";
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
      margin-left: 1rem;
    }
  }
}
