/* ==========================================================================
   Prism - Solarized Dark
   ========================================================================== */

/* Colors from Ethan Shoonover's _Solarized_:
 * http://ethanschoonover.com/solarized
 */
 /* uncss:ignore */
:root {
	--solarized_base03:  #002b36;
	--solarized_base02:  #073642;
	--solarized_base01:  #586e75;
	--solarized_base00:  #657b83;
	--solarized_base0:   #839496;
	--solarized_base1:   #93a1a1;
	--solarized_base2:   #eee8d5;
	--solarized_base3:   #fdf6e3;
	--solarized_yellow:  #b58900;
	--solarized_orange:  #cb4b16;
	--solarized_red:     #dc322f;
	--solarized_magenta: #d33682;
	--solarized_violet:  #6c71c4;
	--solarized_blue:    #268bd2;
	--solarized_cyan:    #2aa198;
	--solarized_green:   #859900;
}

/* Set up the basic look and feel */
/* uncss:ignore */
code,
kbd,
samp {
  /*   	background-color: $solarized_base03; */
  color: var(--solarized_base0);
  font-size: 87.5%;
  line-height: 1.4;
  padding: .25em;
  font-family: "Source Code Pro", "Menlo", monospace;
}

/* uncss:ignore */
pre {
  background-color: var(--solarized_base02);
  color: var(--solarized_base0);
  font-size: 100%;
  line-height: inherit;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* uncss:ignore */
pre code,
pre kbd,
pre samp {
  background: none;
  direction: ltr;
  display: block;
  hyphens: none;
  padding: 1.143em;
  tab-size: 2;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
}

/* uncss:ignore */
pre ::selection {
  background: var(--solarized_base02);
  color: inherit;
  text-shadow: none;
}

/* uncss:ignore */
pre ::-moz-selection {
  background: var(--solarized_base02);
  color: inherit;
  text-shadow: none;
}

/* uncss:ignore */
pre[class*="language-"]::before {
  background-color: var(--solarized_base03);
  color: var(--solarized_base00);
  display: block;
  font-size: 87.5%;
  line-height: 1;
  padding: .75rem;
  text-align: left;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
}

/* uncss:ignore */
pre[class*="language-"] code { padding-top: .5rem; }

/* uncss:ignore */
pre.language-markup::before { content: "HTML"; }
/* uncss:ignore */
pre.language-css::before { content: "CSS"; }
/* uncss:ignore */
pre.language-scss::before { content: "SASS"; }
/* uncss:ignore */
pre.language-javascript::before { content: "JavaScript"; }
/* uncss:ignore */
pre.language-php::before { content: "PHP"; }
/* uncss:ignore */
pre.language-clike::before { content: "C-like"; }
/* uncss:ignore */
pre.language-coffeescript::before { content: "CoffeeScript"; }
/* uncss:ignore */
pre.language-bash::before { content: "Bash"; }
/* uncss:ignore */
pre.language-cpp::before { content: "C++"; }
/* uncss:ignore */
pre.language-python::before { content: "Python"; }
/* uncss:ignore */
pre.language-sql::before { content: "SQL"; }
/* uncss:ignore */
pre.language-http::before { content: "HTTP"; }

/* General
   ========================================================================== */
/* uncss:ignore */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--solarized_base01);
}

/* uncss:ignore */
.token.punctuation {
  color: var(--solarized_base00);
  font-weight: 400;
}

/* uncss:ignore */
.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: var(--solarized_blue);
  font-weight: 700;
}

/* uncss:ignore */
.token.selector,
.token.attr-name,
.token.string {
  color: var(--solarized_base0);
  font-weight: 400;
}

/* uncss:ignore */
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--solarized_cyan);
}

/* uncss:ignore */
.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--solarized_cyan);
  font-weight: 400;
}

/* uncss:ignore */
.token.regex,
.token.important {
  color: var(--solarized_red);
}

/* uncss:ignore */
.token.important {
  font-weight: 700;
}

/* uncss:ignore */
.token.entity {
  color: var(--solarized_orange);
}

/* uncss:ignore */
.language-css,
.language-scss {
  color: var(--solarized_blue);
}

/* uncss:ignore */
.language-css .token.selector,
.language-scss .token.selector {
  color: var(--solarized_yellow);
}

/* uncss:ignore */
.language-css .token.property,
.language-scss .token.property {
  color: var(--solarized_base0);
  font-weight: 400;
}

/* uncss:ignore */
.language-css .token.atrule,
.language-scss .token.atrule {
  color: var(--solarized_violet);
}

/* uncss:ignore */
.language-css .token.variable,
.language-scss .token.variable {
  color: var(--solarized_magenta);
}

/* uncss:ignore */
.language-javascript .token.keyword {
  color: var(--solarized_blue);
}

/* uncss:ignore */
.language-javascript .token.operator {
  color: var(--solarized_green);
}

/* uncss:ignore */
.language-javascript .token.string,
.language-javascript .token.number {
  color: var(--solarized_cyan);
  font-weight: 400;
}

/* uncss:ignore */
.language-javascript .token.boolean {
  color: var(--solarized_yellow);
  font-weight: 400;
}

/* uncss:ignore */
.language-javascript .token.class-name {
  color: var(--solarized_yellow);
}

/* uncss:ignore */
.language-php .token.delimiter,
.language-php .token.punctuation {
  color: var(--solarized_red);
}

/* uncss:ignore */
.language-php .token.constant,
.language-php .token.boolean {
  color: var(--solarized_yellow);
}

/* uncss:ignore */
.language-php .token.operator {
  color: var(--solarized_green);
}

/* uncss:ignore */
.language-php .token.variable {
  color: var(--solarized_blue);
  display: inline-block;
}

/* uncss:ignore */
.language-php .token.variable::first-letter {
  color: var(--solarized_green);
}

/* uncss:ignore */
.language-php .token.keyword {
  color: var(--solarized_green);
}

/* uncss:ignore */
.language-php .token.number {
  color: var(--solarized_cyan);
  font-weight: 400;
}

/* uncss:ignore */
.language-php .token.string {
  color: var(--solarized_cyan);
  display: inline-block;
}
