---
layout: default
title: Home
---

<section class="container--md container--center">
  <section class="">
  {% for post in site.posts limit:7 %}
    {% if post.layout == 'link' %}
    <article class="container--spacer flex center--items">
      <div class="flex--1">
        <a href="{{ post.link }}">
        <span class="i-bl icon--circle">
          <svg class="icon">
            <use xlink:href="#icon-link" />
          </svg>
        </span>
        </a>
      </div>
      <header class="flex--9">
        <a class="" href="{{ post.url | prepend: site.baseurl }}">
          <h2 class="w-400 lt-3 caps hl--sm post--short_link">{{ post.title }}</h2>
        </a>
      </header>
    </article>
    {% else %}
    <article class="container--spacer  ">

      <header class="container--100 m--bottom">
        <h2><a class="w-700 hl--md" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

      </header>
      <div class="flex m--top">
        <aside class="flex--1">
          <div class="post--date i-bl center">
            <span class="post--date_item bl hl--xs w-300 caps lt-3">{{ post.date | date: "%b" }}</span>
            <span class="post--date_item bl hl--sm w-700 lt-1 m--none">{{ post.date | date: "%d" }}</span>
            <span class="post--date_item bl hl--xs w-300 caps lt-3">{{ post.date | date: "%Y" }}</span>
          </div>
        </aside>
        <section class="flex--9">
          {{ post.excerpt }}
        </section>
      </div>

    </article>
    {% endif %}
  {% endfor %}
  </section>
</section>
