.meta {
    color: $gray;
    text-transform: uppercase;
    letter-spacing: 2px;
    &--short {
        &::before {
            content: "";
            max-width: 4rem;
            height: 2px;
            display: block;
            margin-left: auto;
            margin-right: 0;
            margin-bottom: 1rem;
            background: $litered;
            @include respond-to(mediumscreens) {
              margin-left: 0;
              margin-bottom: .5rem;
            }
        }
        text-align: right;
        @include respond-to(mediumscreens) {
          text-align: left;
        }
    }
}
