.sharing {
    width: 100%;
    list-style: none inside;
    text-align: center;
    li {
        display: inline-block;
        vertical-align: middle;
        margin: 1rem .5rem;
    }
    a {
        border: 0;
        background: none;
    }
    .icon {
        width: 3.5rem;
        height: 3.5rem;
        fill: $litered;
        &:hover, &:focus {
            background: $palered;
            width: 3rem;
            height: 3rem;
            fill: white;
        }
    }
}
