:root {
  --text: #333333;
  --darkred: #B74435;
  --litered-old: #D04B36;
  --litered: #CF4832;
  --palered: #E16B56;
  --litegold: #EBB734;
  --_palegold: #E5C784;
  --palegold: #E4BE68;
  --twitter: #0094C2;
  --facebook: #3B5998;
  --bkg: #F2F0EB;
  --gray: #9A9A9A;

  --c1: #E36A52;
  --c2: #D76049;
  --c3: #CD5640;
  --c4: #B94330;

  --basesize: 1rem;
  --line-length: 40rem;
  --letter-spacing: 1px;

  --whitney: 'Whitney SSm A', 'Whitney SSm B', 'Myriad Pro', Avenir, Lucida Grande, sans-serif;
  --ff-mono: 'Roboto Mono', 'Source Code Pro', Menlo, monospace !important;
  --ff-w: 400;

  --shadow-sm: 0 0 5px rgba(0, 0, 0, .08), 0 3px 6px rgba(0, 0, 0, .125);

  --headlines: var(--whitney);
  --body-text: var(--whitney);
  --baseFontWeight: 400;
  --baseFontSize: 1rem;
  --baseFontFamily: var(--sans-serif);

  --w: 68rem;
}

@custom-media --xxl only screen and (width >= 97rem);
