::-webkit-input-placeholder {
  font-size: var(--baseFontSize);
  color: var(--gray);
}
:-moz-placeholder {
  font-size: var(--baseFontSize);
  color: var(--gray);
}
::-moz-placeholder {
  font-size: var(--baseFontSize);
  color: var(--gray);
}
:-ms-input-placeholder {
  font-size: var(--baseFontSize);
  color: var(--gray);
}
