</main>
<!-- <div class="site--footer_widget mccracken">
  <p class="hl--b left">More than any communications medium before it, the Web is a permanent work in progress that’s always new.</p>
  <p class="hl--b right">- Harry McCracken</p>
</div> -->
<footer class="site--footer container--spacer m--bottom">
    <section class=" container--full container--center flex">
      <div class="site--footer_widget">
        <h3 class="w-700 hl--sm caps lt-2 m--bottom">About Charles</h3>
        <p><a href="http://charlespeters.net">Charles</a> is the writer behind this site, he is a designer at <a href="https://blackpixel.com/">Black Pixel</a>, a podcaster on <a href="https://viewsourc.es/">Viewsources</a> and stream of profanity on <a href="https://twitter.com/charlespeters">Twitter</a>.</p>
        <p>ARWHD is a blog about design, front-end development and hitting your targets. Get more updates on <a href="https://twitter.com/arwhdco">Twitter</a>. Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
    	</div>
      <div class="site--footer_widget">
        <div class="nwl">
          <h3 class="w-700 hl--sm caps lt-2 m--bottom">Newsletter</h3>
          {% include mailchimp.html %}
        </div>
      </div>
    </section>
</footer>
<div class="center m--top m--bottom lt-2">
  <img src="/img/logo.svg" class="site--footer_logo" alt="">
  <br />
  ©2016 ARWHD
</div>

<script src="{{ '/assets/dist/js/arwhd.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5564877392c6ac7126004377');
    t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
    t.src = 'https://track.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
