</main>

<footer class="site--footer container--spacer">
    <section class="flex">
      <div class="site--footer_widget mccracken">
			  <p class="hl--b left">More than any communications medium before it, the Web is a permanent work in progress that’s always new.</p>
        <p class="hl--b right">- Harry McCracken</p>
      </div>
      <div class="site--footer_ social center">
    	  <div class="followus">
          	<h3>Follow Us</h3>
            <a class="social--media_link" href="https://twitter.com/arwhdco/">
              <i class="icon--container">
                <svg viewBox="0 0 300 300" class="icon">
                    <use xlink:href="#twitter"></use>
                </svg>
              </i>
            </a>
            <a class="social--media_link" href="https://github.com/charlespeters/">
              <i class="icon--container">
                <svg viewBox="0 0 300 300" class="icon">
                    <use xlink:href="#github"></use>
                </svg>
              </i>
            </a>
            <a class="social--media_link" href="http://codepen.io/charlespeters/">
              <i class="icon--container">
                <svg viewBox="0 0 300 300" class="icon">
                    <use xlink:href="#codepen"></use>
                </svg>
              </i>
            </a>
          	<a class="social--media_link" href="http://dribbble.com/charlespeters">
              <i class="icon--container">
                <svg viewBox="0 0 300 300" class="icon">
                    <use xlink:href="#dribbble"></use>
                </svg>
              </i>
            </a>
          	<p>We tweet awesome things &amp; for some reason we need to have a Facebook. <br/></p>
          </div>
    	</div>
      <div class="site--footer_widget nwl">
          <h3 class="w-700 m--bottom">Newsletter</h3>
          <p>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
          {% include mailchimp.html %}
      </div>
    </section>
    <div class="center">
      <img src="/img/logo.svg" class="site--footer_logo" alt="">
      <br />
      ©2014 ARHWD
    </div>

</footer>

<script src="{{ '/assets/dist/js/arwhd.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5564877392c6ac7126004377');
    t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
    t.src = 'https://track.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
