{% include icons.svg %}
<div class="stripe"></div>
<header class="site--header flex center--items">
  <div class="site--header_logo flex--9 flex center--items">
    <a href="/" class="bl">
      <img class="site--header_img" src="/img/logo.svg" alt="ARWHD">
    </a>
    <h1 class="w-700 lt-5 hl--sm site--header_hl">ARWHD</h1>
  </div>
  <div class="flex--1 right">
    <div class="i-bl site--nav_btn" id="navicon">
      <svg class="icon">
        <use xlink:href="#icon-navicon" />
      </svg>
    </div>
  </div>
</header>
{% include nav.html %}
<main role="main" class="container--spacer">
