<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="{{ page.tags }}">
    {% include opengraphtags.html %}
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!-- Custom CSS -->

    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7107912/754766/css/fonts.css" />
    <style>
      {% include arwhd.css %}
    </style>
    <!-- <link rel="stylesheet" type="text/css" href="https://s3-us-west-2.amazonaws.com/pesticide/1.2.0/pesticide.min.css"> -->

</head>
