{% include icons.svg %}
<div class="stripe"></div>
<header class="site--header flex center--items">
  <div class="site--header_logo flex--7 flex center--items">
    <a href="/" class="bl">
      <img class="site--header_img" src="/img/logo.svg" alt="ARWHD">
    </a>
    <h1 class="w-700 lt-5 hl--sm site--header_hl">ARWHD</h1>
  </div>
  <div class="icon--container navbtn">
    <svg class="icon">
      <use xlink:href="#icon-JAFI_menu" />
    </svg>
  </div>
  <nav class="site--nav flex--3 flex">
    <ul id="menu-primary-menu" class="menu list site--nav_list flex">
      <li class="w-700 caps lt-3"><a class="site--header_link site--nav_item" href="/about/">About</a></li>
      <li class="w-700 caps lt-3"><a class="site--header_link site--nav_item" href="/blog/">Blog</a></li>
      <li class="w-700 caps lt-3"><a class="site--header_link site--nav_item" href="/connect/">Connect</a></li>
    </ul>
  </nav>
</header>

<main role="main" class="flex--contents">
