<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="{{ page.tags }}">
    <meta name="theme-color" content="#B74435">
    {% include snippet-opengraphtags.html %}
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" data-font-link media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ '/assets/dist/bundle.css' | prepend: site.baseurl }}" media="screen" charset="utf-8">
</head>
