<nav class="c-nav u-py3 u-px2" id="siteNav">
  <ul id="menu-primary-menu" class="list--reset">
    <li class="u-d-inbl u-mr2 u-w700 u-caps u-lt-3">
      <a class="c-nav__link" href="/about/">About</a>
    </li>
    <li class="u-d-inbl u-mr2 u-w700 u-caps u-lt-3">
      <a class="c-nav__link" href="/blog/">Blog</a>
    </li>
    <li class="u-d-inbl u-mr2 u-w700 u-caps u-lt-3">
      <a class="c-nav__link" href="/connect/">Connect</a>
    </li>
    <li class="u-d-inbl u-w700 u-caps u-lt-3">
      <a class="c-nav__link" href="https://twitter.com/arwhdco">Twitter</a>
    </li>
  </ul>
</nav>
