<nav class="site--nav container--100 fixed hidden" id="siteNav">
  <ul id="menu-primary-menu" class="menu list site--nav_list center">
    <li class="container--spacer w-700 caps lt-3"><a class="site--header_link site--nav_item" href="/about/">About</a></li>
    <li class="container--spacer w-700 caps lt-3"><a class="site--header_link site--nav_item" href="/blog/">Blog</a></li>
    <li class="container--spacer w-700 caps lt-3"><a class="site--header_link site--nav_item" href="/connect/">Connect</a></li>
    <li class="container--spacer w-700 caps lt-3"><a class="site--header_link site--nav_item" href="/connect/">Twitter</a></li>
  </ul>
</nav>
