<form action="https://tinyletter.com/charlespeters" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/charlespeters', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
	<div class="c-nwl__form u-mb2">
		<div class="c-nwl__input u-mb2 u-mb0@lg u-mr2@lg">
			<label for="tlemail" class="o-field__label u-w700 u-caps u-lt-2 hl--xs u-d-bl u-mb2">Email Address</label>
			<input type="text" placeholder="you@domain.com" class="o-field u-anti" name="email" id="tlemail" />
		</div>
		<div class="c-nwl__btn">
			<input type="submit" class="o-btn u-w700 u-d-bl u-caps u-lt-5 u-anti" value="Subscribe" />
		</div>
	</div>

	<input type="hidden" value="1" name="embed"/>
	<div class="u-al-center">
		<a href="https://tinyletter.com" class="o-field__label u-caps u-lt-2" target="_blank">powered by TinyLetter</a>
	</div>
</form>
