<ul class="sharing list center m--top">
  <li class="m--all i-bl">
    <a href="https://twitter.com/intent/tweet?text='{{ page.title }}'&amp;url={{ page.url | prepend: site.url }}&amp;via=charlespeters" target="_blank">Twitter</a>
  </li>
  <li class="m--all i-bl">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}" target="_blank">Facebook</a>
  </li>
  <li class="m--all i-bl">
    <a href="{{ page.url | prepend: site.url }}" target="_blank">URL</a>
  </li>
</ul>
