<ul class="sharing list--reset u-al-center@md m--top">
  <li class="u-m2 u-d-inbl">
    <a href="https://twitter.com/intent/tweet?text='{{ page.title }}'&amp;url={{ page.url | prepend: site.url }}&amp;via=charlespeters" target="_blank">Twitter</a>
  </li>
  <li class="u-m2 u-d-inbl">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}" target="_blank">Facebook</a>
  </li>
  <li class="u-m2 u-d-inbl">
    <a href="{{ page.url | prepend: site.url }}" target="_blank">URL</a>
  </li>
</ul>
