<aside class="flex--sidebar" id="">
    <div class="widget">
        <p>As I struggle through working as a web designer, I find myself, missing the mark, aiming but not always making contact. I thought the best way to move forward was to share the mistakes and the successes, to have them set alongside the good ideas, best practices and summations of what I know.</p>
        <p>This site is meant to be a good place to discuss those things like Design, User Experience, Front-end Development and Client Services, that I find challenging and make some sense of them.</p>
    </div>
    <section class="frontprojects">
            <h2 class="frontheading"><span>Current Projects</span></h2>
            <section class="flexcontents">
                <article class="frontproject">
                    <h3><a href="https://github.com/charlespeters/justafewicons">Just a Few Icons →</a></h3>
                    <p></p>
                </article>
                <article class="frontproject">
                    <h3><a href="https://github.com/charlespeters/Etching">Etching →</a></h3>
                    <p>This is a blank Wordpress theme to help me speed through Wordpress projects. It's meant solely to pull in everything like your own markup, stylesheets and scripts.</p>
                </article>
            </section>
    </section>
</aside>
