<aside class="flex--sidebar">
    <div class="widget front--about">
      <p>As I struggle through working as a web designer, I find myself, missing the mark, aiming but not always making contact. I thought the best way to move forward was to share the mistakes and the successes, to have them set alongside the good ideas, best practices and summations of what I know.</p>
      <p>This site is meant to be a good place to discuss those things like Design, User Experience, Front-end Development and Client Services, that I find challenging and make some sense of them.</p>
    </div>
    <div class="widget">
      <img src="{{ "/src/img/404target.png" | prepend: site.baseurl }}" alt="" />
    </div>
    <div class="widget">
      <p>This blog isn't supported by ad revenue, please consider <a href="https://www.gittip.com/charlespeters/">donating</a> to keep it up and running</p>
    </div>
</aside>
