{% for post in site.posts limit:4 %}
  <article class="c-post--short u-mb4">
    <div>
      <header class="u-mb3">
        <h2 class="h6">
          <a class="c-post__hl" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="small u-w400 u-lt-3 u-caps meta">{{ post.date | date: "%B %-d, %Y" }}</span>
      </header>
      <section>
        <p class="small u-system">
          {{ post.excerpt | remove: "<p>" | remove: "</p>" }}
        </p>
      </section>
    </div>
  </article>
{% endfor %}
