<div class="c-nwl u-p3">
  <h3 class="h6 u-caps u-lt-2 u-mb2">Newsletter</h3>
  <form action="https://tinyletter.com/charlespeters" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/charlespeters', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <div class="c-nwl__form u-mb2">
      <div class="c-nwl__input u-mb2 u-mb0@lg u-mr2@lg">
        <label for="tlemail" class="o-field__label small u-caps u-lt-2 u-bl u-mb2">Email Address</label>
        <input type="text" placeholder="you@domain.com" class="o-field u-anti" name="email" id="tlemail" />
      </div>
      <div class="c-nwl__btn">
        <input type="submit" class="o-btn u-w700 u-bl u-anti" value="Subscribe" />
      </div>
    </div>

    <input type="hidden" value="1" name="embed"/>
    <div class="u-center">
      <a href="https://tinyletter.com" class="o-field__label small u-caps u-lt-3" target="_blank"><i>powered by TinyLetter</i></a>
    </div>
  </form>
</div>
