//input types

input[type="text"], input[type="email"], textarea {
	background: none;
	border: 0;
	padding: .875rem 0;
	color: $darkred;
	@include anti;
	width: 80%;
	max-width: 45rem;
	&:focus {
		outline: none;
		background: none;
		color: $litered;
	}
}


//buttons
.btn {
	border: solid 1px $darkred;
	border-radius: 10px;
	background-image: linear-gradient($litered, $darkred);
	text-transform: uppercase;
	color: white;
	padding: .875rem 1.875rem;
	margin: 0.5rem 0;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.125);
	font-size: 1.25rem;
	@include anti();
	&:hover { background-image: linear-gradient($litered, $palered); }
	&:focus {
		color: $text;
		background-image: linear-gradient($palegold, $litegold);
		border: $litegold;
		outline: 0;
	}
}

textarea { width: 100%; }

form {
	p {
		text-transform: uppercase;
		margin: .75rem 0;
		font: 400 125%/1.5;
	}
	@include respond-to(handhelds) {
		input {width: 100%;}
	}
}
select {
	background-image: linear-gradient($darkred, $litered);
	padding: .5rem 0 .5rem 1.5rem;
	border: 0;
	border-radius: 15px;
	text-transform: uppercase;
	-webkit-appearance: none;
	text-align: center !important;
	letter-spacing: 2px;
	color: white;
	@include anti();
	&:focus { outline: 0;}
	option {
		text-align: center !important;
	}

}

//mailchimp

.mc4wp-form {
	p {
		border-bottom: 1px solid $litered;
		display: block;
		padding: 1rem 0;
		&:after {
		@extend .clearfix;
	}
}
	input[type="email"], input[type="text"] {
		width: 75%;
		float: left;
		// border-bottom: 1px solid $litered;
		padding: 0;
		margin: 0;
		&:focus {
			background: none;
			color: $litered;
		}
	}
	input[type="submit"] {
		width: 25%;
		padding: 0;
		background: none;
		box-shadow: none;
		color: $litered;
		text-align: right;
		border: none;
		float: left;
		margin: 0;
	}
}
