* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	background: rgba($bkg, .5);
	margin-top: 0 !important;
}

#wpadminbar { display: none; }

.page-wrap {
	padding: 0 1.5rem;
}

img {
	max-width: 100%;
	height: auto;
}
.hide {
	display: none;
}

.clearfix {
		content: "";
		clear: both;
		display: block;
}

.container {
	max-width: 68rem;
	margin: 0 auto;
	&::after {
		@extend .clearfix;
	}
}
