// color
$text: #333;
$darkred: #b74435;
$litered: #d04d36;
$palered: #e16b56;
$litegold: #ebb734;
$_palegold: #e5c784;
$palegold: #e4be68;
$twitter: #0094c2;
$facebook: #3b5998;
$bkg: #f2f0eb;
$gray: #bbbbbb;

// typography
$basesize: 1rem;
$line-length: 40rem;
$letter-spacing: 1px;

/* breakpoints */
$max: new-breakpoint(max-width 1200px 12);
$laptop: new-breakpoint(max-width 1024px 12);
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 500px 6);


// media queries
$breakpoint--small: 31.25rem; // 500px/16px
$breakpoint--medium: 48rem; // 768px/16px
$breakpoint--large: 64rem; // 1024px/16px
$breakpoint--larger: 75rem; // 1200px/16px


@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: $breakpoint--small) { @content; }
    }
    @else if $media == mediumscreens {
        @media only screen and (max-width: $breakpoint--large - 1) { @content; }
    }
    @else if $media == widescreens {
        @media only screen and (min-width: $breakpoint--large) { @content; }
    }
}
