.c-sidebar {
  margin-top: 2rem;
  padding: 0 1.5rem;
}

.c-widget {
  margin-bottom: 1rem;
  max-width: 100%;
}

.c-widget p {
  font-style: italic;
  line-height: 1.5;
}
.c-widget__hl {
  color: var(--palegold);
  margin-bottom: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.c-widget__list-item {
  padding: .75rem 0;
  font-size: 1rem;
}
