//blog page
.posts--full {
	padding: 0 1rem;
	max-width: 42rem;
	margin: 0 auto;
	&_header {
		padding: 2.125rem 0;
		max-width: 48rem;
		margin: 0 auto;
		text-align: center;
		h1 {
			margin: 5rem 0 2rem;
			letter-spacing: 1px;
			font-weight: 300;
			color: $litered;
			font-size: 2.5rem;
			@include respond-to(handhelds) { font-size: 2.125rem; }
		}
	}
	&_footer {
		max-width: 38rem;
		margin: 0 auto 2rem;
	}
}
