.posts {
	&--index {
		color: $litered;
	}
	&--heading {
		color: $palegold;
		// font-weight: 400;
		margin-top: 1rem;
		margin-bottom: 3.5rem;
		// text-transform: uppercase;
		// letter-spacing: 1px;
	}
	&--short {
		color: $litered;
		margin-bottom: 2rem;
		max-width: 42rem;
		width: 100%;
		padding-left: 18%;
		@include respond-to(mediumscreens) {
			padding-left: 0;
			padding-right: .5rem;
		}
		&::after {
			@extend .clearfix;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
		a {
			color: $litered;
			&:hover { color: $palegold; }
		}
		p { margin: 0;}
		h3 {
			font-size: 1.5rem;
			font-weight: 400;
			margin: 0 0 .5rem;
		}
		&_content { }
		&_info {
			//padding-right: 1.5rem;
			float: left;
			margin-left: -20%;
			@include respond-to(mediumscreens) {
				margin: 1rem 0;
				float: none;
				width: 100%;
				.icon { display: none; }
			}
			.icon {
				margin-top: 1rem;
				width: 2.5rem;
				height: 2.5rem;
				transition: all 375ms linear;
				&:hover {
					fill: $palegold;
				}
			}
		}
	}
}

.front--heading {
	margin: 0 0 1rem;
}
