.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  &--main {
    flex: 4 0 19rem;
    padding: 0 .5rem;
    @include respond-to(handhelds) { padding: 0; }
  }
  &--sidebar {
    flex: 1 0 18rem;
    padding: 0 .5rem;
    @include respond-to(handhelds) { padding: 0; }
  }
}


.container {
  &--center { margin-left: auto; margin-right: auto; }
  &--full   { max-width: $w; }
  &--md     { max-width: $w*.75; }
  &--sm     { max-width: $w*.625; }
  &--spacer { padding: 1rem .5rem; }
  &--100    { display: block; width: 100%; }
}
