/* Settings */

@import 'obsidian.css/lib/settings';
@import './settings/local-variables';

/* Generic */

@import 'obsidian.css/lib/generic';
@import './generic/typography';
@import './generic/placeholders';

/* Elements */

@import 'obsidian.css/lib/elements/obsidian.forms';
@import 'obsidian.css/lib/elements/obsidian.headlines';
@import 'obsidian.css/lib/elements/obsidian.body-text';
@import 'obsidian.css/lib/elements/obsidian.images';
@import 'obsidian.css/lib/elements/obsidian.lists';

/* Objects */

@import 'obsidian.css/lib/objects/obsidian.icons';
@import 'obsidian.css/lib/objects/obsidian.containers';
@import 'obsidian.css/lib/objects/obsidian.grid';
@import 'obsidian.css/lib/objects/obsidian.intrinsic';
@import 'obsidian.css/lib/objects/obsidian.flex-container';
@import 'obsidian.css/lib/objects/obsidian.flex-modifiers';
@import 'obsidian.css/lib/objects/obsidian.btns';
@import 'obsidian.css/lib/objects/obsidian.forms-ui';
@import './objects/fields';
@import './objects/icons';

/* Components */

@import './components/header';
@import './components/newsletter';
@import './components/footer';
@import './components/sidebar';
@import './components/navigation';
@import './components/posts';
@import './components/entry';

/* Utilities */

@import 'obsidian.css/lib/utilities/obsidian.display';
@import 'obsidian.css/lib/utilities/obsidian.spacing';
@import 'obsidian.css/lib/utilities/obsidian.align';
@import 'obsidian.css/lib/utilities/obsidian.typography';
@import 'obsidian.css/lib/utilities/obsidian.floats';

/* For accessibility checks */

/* @import 'a11y.css/css/a11y-en.css'; */

.u-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
