//input types


::-webkit-input-placeholder {
  font-size: $baseFontSize;
  color: $gray;
}
:-moz-placeholder {
  font-size: $baseFontSize;
  color: $gray;
}
::-moz-placeholder {
  font-size: $baseFontSize;
  color: $gray;
}
:-ms-input-placeholder {
  font-size: $baseFontSize;
  color: $gray;
}

.form {
  &--input {
    background: $bkg;
    border: 1px solid;
    padding: .75rem .5rem;
    color: $darkred;
    max-width: 100%;
    font-family: inherit;
    line-height: 1;
    transition: all 375ms linear;
    &:focus {
      outline: none;
      background: none;
      color: $bkg;
    }
  }
  &--appearance {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  &--label {
    color: $palegold;
  }
}
