//input types

input[type="text"], input[type="email"], textarea {
	background: none;
	appearance: none;
	border: 1px solid;
	padding: .875rem 0;
	color: $darkred;
	width: 80%;
	max-width: 45rem;
	&:focus {
		outline: none;
		background: none;
		color: $litered;
	}
}

select {
	background-image: linear-gradient($darkred, $litered);
	padding: .5rem 0 .5rem 1.5rem;
	border: 0;
	border-radius: 15px;
	text-transform: uppercase;
	-webkit-appearance: none;
	text-align: center !important;
	letter-spacing: 2px;
	color: white;
	@include anti();
	&:focus { outline: 0;}
}
