// media queries
$breakpoint--small: 31.25rem; // 500px/16px
$breakpoint--medium: 48rem; // 768px/16px
$breakpoint--large: 63rem; // 1024px/16px
$breakpoint--larger: 75rem; // 1200px/16px


@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: $breakpoint--small) { @content; }
    }
    @else if $media == mediumscreens {
        @media only screen and (max-width: $breakpoint--large) { @content; }
    }
    @else if $media == widescreens {
        @media only screen and (min-width: $breakpoint--large) { @content; }
    }
}
