

body {
  font: $baseFontWeight 100%/1.5 $sans-serif;
  color: $text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form, input, textarea {
  font: 400 1rem/1.5 inherit;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  line-height: 1.2;
}

h1 { font-size: $baseFontSize + $baseFontSize; }
h2 { font-size: $baseFontSize + ($baseFontSize*.75); }
h3 { font-size: $baseFontSize + ($baseFontSize/2); }
h4 { font-size: $baseFontSize + ($baseFontSize/4); }
h5 { font-size: $baseFontSize + ($baseFontSize/8); }
h6 { font-size: $baseFontSize; }

p {
  margin-bottom: 1rem;
  color: $text;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-size: .875rem;
  &:last-of-type { margin-bottom: 0; }
  @include mq-min(tablet) { font-size: $baseFontSize; }
}

strong, b { font-weight: 700; }
em, i { font-style: italic; }

a {
  text-decoration: none;
  color: $litered;
  transition: all 375ms linear;
  &:hover {
    color: $palegold;
  }
}

ol, ul {
  padding: 0;
  list-style-position: inside;
}

hr {
  background: $palegold;
  height: .0625rem;
  width: 65%;
  border: 0;
  margin: 1rem auto 1.5rem;
}

.meta { color: $gray; }
