:root {
  --text: #333;
  --darkred: #b74435;
  --litered: #d04d36;
  --palered: #e16b56;
  --litegold: #ebb734;
  --_palegold: #e5c784;
  --palegold: #e4be68;
  --twitter: #0094c2;
  --facebook: #3b5998;
  --bkg: #f2f0eb;
  --gray: #bbbbbb;

  --c1: #E36A52;
  --c2: #D76049;
  --c3: #CD5640;
  --c4: #B94330;

  --basesize: 1rem;
  --line-length: 40rem;
  --letter-spacing: 1px;

  --sans-serif: 'Whitney SSm A', 'Whitney SSm B', 'Myriad Pro', Avenir, Lucida Grande, sans-serif !default;
  --mono: 'Source Code Pro' !default;

  --baseFontWeight: 400 !default;
  --baseFontSize: 1rem !default;
  --baseFontFamily: $sans-serif;


  --w: 68rem;
}
