html {
  color: var(--text);
  background: var(--bkg);
}

p {
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-size: .875rem;
  line-height: 1.7;
}

p:not(:last-of-type) { margin-bottom: 1.5rem; }

a {
  text-decoration: none;
  color: var(--litered);
  transition: all 375ms linear;
}

a:hover {
  color: var(--palegold);
}

ol, ul {
  padding: 0;
  list-style-position: inside;
}

hr {
  background: var(--palegold);
  height: .0625rem;
  width: 65%;
  border: 0;
  margin: 2.5rem auto;
}

@media (--md) {
  p, li { font-size: var(--baseFontSize); }
}

@media (--xxl) {
  html { font-size: 112.5%; }
}
