.sidebar {
    margin-top: 2rem;
    padding: 0 1.5rem;
}

.widget {
    margin-bottom: 1rem;
    max-width: 100%;
    h3 {
      color: $palegold;
      margin-bottom: 1rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 400;
    }
    h3, p {
        margin-top: 0;
    }
    ul {
        list-style: inside none;
    }
    li {
        border-top: 1px $litered solid;
        padding: .75rem 0;
        font-size: 1rem;
        &:first-of-type {
          border-top: 0;
        }
    }
    p {
        font-style: italic;
        line-height: 1.5;
    }
}
