:root {
  --text: #333333;
  --darkred: #B74435;
  --litered: #D04B36;
  --palered: #E16B56;
  --litegold: #EBB734;
  --_palegold: #E5C784;
  --palegold: #E4BE68;
  --twitter: #0094C2;
  --facebook: #3B5998;
  --bkg: #F2F0EB;
  --gray: #BBBBBB;

  --c1: #E36A52;
  --c2: #D76049;
  --c3: #CD5640;
  --c4: #B94330;

  --basesize: 1rem;
  --line-length: 40rem;
  --letter-spacing: 1px;

  --sans-serif: 'Whitney SSm A', 'Whitney SSm B', 'Myriad Pro', Avenir, Lucida Grande, sans-serif !default;
  --mono: 'Source Code Pro' !default;

  --baseFontWeight: 400 !default;
  --baseFontSize: 1rem !default;
  --baseFontFamily: var(--sans-serif);

  --w: 68rem;
}
