.btn {
	border: solid 1px $darkred;
	border-radius: 10px;
	background: $litered;
	color: inherit;
	font-family: inherit;
	font-size: $baseFontSize;
	line-height: 1;
	padding: .84375rem .5rem;
	transition: all 375ms linear;
	&:hover { background: $darkred; }
	&:focus {
		color: $text;
		background-image: linear-gradient($palegold, $litegold);
		border: $litegold;
		outline: 0;
	}
}
