.sharing {
    width: 100%;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      vertical-align: middle;
      margin: 1rem .5rem;
    }
    a { background: none; }
    .icon {
        fill: $litered;
        &:hover, &:focus {
            background: $palered;
            width: 2.5rem;
            height: 2.5rem;
            fill: white;
        }
    }
}
