._s-entry ul, ol { margin: 1rem 0; }
._s-entry li:not(:last-of-type) {  margin-bottom: .625rem; }

._s-entry li { font-size: .875rem; }
._s-entry p:last-of-type { margin-bottom: 1.5rem; }

._s-entry iframe {
  margin-bottom: 1.5rem;
  /*@include mq-min(desktop) {
    width: 150% !important;
    margin-top: 1.5rem;
    margin-left: -25%;
  }*/
}

._s-entry h3 {
  color: var(--litered);
  margin: 0 0 1.25rem;
  font-size: 1.375rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

._s-entry h4 {
  color: var(--c3);
  margin: 0 0 1.25rem;
  font-size: 1.125rem;
  font-weight: 700;
  font-style: italic;
}

._s-entry::after {
  content: "";
  display: block;
  background: var(--litered);
  margin: 1rem 0;
  width: 6rem;
  height: 2px;
}

.footnotes {
  margin-top: 2rem;
  border-top: 1px solid var(--litered);
  padding: .5rem 0;
}

@media (--md) {
  ._s-entry blockquote p { font-size: 1.25rem; }
}

@media(--lg) {
  ._s-entry p:first-child {
    font-size: 1.375rem;
  }
}
