.c-header {
  background: $litered;
  width: 100%;
  max-width: 100%;
}

.c-header

.c-header__logo {  }
.c-header__img { max-width: 1.5rem; height: auto; }
.c-header__hl {
  margin-left: 1rem;
  color: $palegold;
  line-height: 1;
}

.c-header__link { color: $palered; }
.c-header__link:hover { color: $palegold;	}
