.c-post--short {
  /*flex: 5 0 18rem;*/
  overflow-y: hidden;
}

.c-post--short__link::after {
  content: "\2192";
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-left: 1rem;
}

.c-post--short__container {
  /*padding: 1rem .25rem 1rem 1.25rem;*/
}

.c-post--short__container::after {
  content: "";
  width: 5rem;
  margin-top: 2rem;
  display: block;
  border-top: .25rem solid var(--palered);
}

.c-post--offset__container {
  max-width: 5.5rem;
  width: 100%;
  min-height: 5rem;
}
