---
layout: default
---
<article class="posts--full o-container--sm u-mx-auto">
    <header class="posts--full_header u-mb2 u-py4">
      <h1 class="h3 c-post--full__hl u-mb2"><a href="{{ page.link }}">{{ page.title }}</a></h1>
      <span class="u-w400 u-lt-3 u-caps meta">
      {{ page.date | date: "%B %-d, %Y" }}
      {% if page.meta %} | {{ page.meta }}{% endif %}
      </span>
    </header>
    <section class="_s-entry">
      {{ content }}
      <div class="u-al-center@md">
        <a href="" class="o-icon--red">
        <span class="o-icon--circle u-d-inbl u-mr3">
            <svg class="o-icon"><use xlink:href="#icon-link" /></svg>
         </span>
         <span class="h6 u-w700 u-caps u-lt-5">Link Here</span>
        </a>
      </div>
    </section>
    <footer class="container--center container--sm">
      {% include sharing.html %}
    </footer>
</article>
