---
layout: default
---
<article class="posts--full">
    <header class="posts--full_header center">
      <h1 class="w-400 lt-3 caps hl--md">
        <a href="{{ page.link }}" class="flex center--items center--h">
          <span class="i-bl icon--circle m--top m--bottom m--right">
            <svg class="icon">
              <use xlink:href="#icon-link" />
            </svg>
          </span>
          <span>{{ page.title }}</span>
        </a>
      </h1>
      <span class="caps lt-3 w-300 meta">
        {{ page.date | date: "%b %-d, %Y" }}
        {% if page.meta %} | {{ page.meta }}{% endif %}
      </span>

    </header>
    <section class="entry">
      {{ content }}
    </section>
    <footer class="posts--full_footer">
      {% include sharing.html %}
    </footer>
</article>
