---
layout: default
---
<article class="posts--full">
    <header class="posts--full_header container--center container--sm">
      <h1 class="w-400 lt-2 caps hl--sm m--bottom"><a href="{{ page.link }}">{{ page.title }}</a></h1>
      <span class="caps lt-3 w-400 meta">
        {{ page.date | date: "%b %-d, %Y" }}
        {% if page.meta %} | {{ page.meta }}{% endif %}
      </span>
    </header>
     <section class="entry container--spacer container--center container--sm">
      {{ content }}

    </section>
    <footer class="posts--full_footer">
      <div >
        <a href="{{ page.link }}" class="flex center--items center--h">
        <span class="i-bl icon--circle m--right">
            <svg class="icon"><use xlink:href="#icon-link" /></svg>
         </span>
         <span class="caps lt-5">Link Here</span>
        </a>
      </div>
      {% include sharing.html %}
    </footer>
</article>
