---
layout: default
---

<div class="h6 u-w700 u-mb2">
  {{ content }}
</div>

{% for post in site.posts  %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

  {% if forloop.first %}
  <h2 class="Archive__heading h4 u-w900 u-mb2 u-center" id="{{ this_year }}-ref">{{this_year}}</h2>
  <ul class="o-UIList o-UIList--list u-mb6">
  {% endif %}

  <li class="PostBlock u-p3 u-sh--1 u-mb4 u-bl u-bg--offwhite u-w400">
    <header class="u-left u-mb3">
      <h3 class="h6 u-w900">
        <a class="u-bl" href="{{ post.url | prepend: site.baseurl }}" title="Link to '{{ post.title }}'">{{ post.title }}</a>
      </h3>
    <small class="small meta">{{ post.date | date: "%B %-d, %Y" }}</small>
    </header>
    <p class="small u-system">{{ post.excerpt | remove: "<p>" | remove: "</p>" }}</p>
  </li>

  {% if forloop.last %}
  </ul>
  {% else %}
      {% if this_year != next_year %}
      </ul>
      <h2 class="Archive__heading h4 u-w900 u-mb2 u-center" id="{{ next_year }}-ref">{{next_year}}</h2>
      <ul class="o-UIList o-UIList--list u-mb6">
      {% endif %}
  {% endif %}
{% endfor %}

