.footer {
	padding: 0 0 1.5rem 0;
	text-align: center;
	img {
		max-width: 25px;
		height: auto;
	}
	.flexcontents {
		flex-direction: row;
		border-top: 1px $litered solid;
		padding: 1rem;
		@include media($mobile) {
			flex-direction: column;
		}
	}
	.widget {
		flex: 1 0 19rem;
		padding: 1rem;
		// display: flex;
		// flex-direction: column;
		// justify-content: center;
	}
	.mccracken {
		position: relative;
		z-index: 1;
		&::before {
			content: "\201c";
			display: block;
			position: absolute;
			top: -.75rem;
			left: 0;
			font-size: 5rem;
			font-family: Georgia;
			font-weight: 700;
			color: rgba($litered, .125);
		}
		p {
			text-align: left;
			font-size: 1.125rem;
			&:last-of-type { text-align: right; }
		}
	}
	.followus {
		a {
			fill: $litered;
			&:hover {
				fill: $palegold;
			}
		}
		svg { max-width: 3rem; }
	}
}
