// .hero {
// 	background: $darkred url('../img/newarw.png') no-repeat right top;
// 	background-size: contain;
// 	position: relative;
//     &:after {
//         content: "";
//         width: 0;
//         height: 0;
//         margin: 0 auto;
//         position: absolute;
//         bottom: -1.438rem;
//         left: 0;
//         right: 0;
//         border-left: 1.5rem solid transparent;
//         border-right: 1.5rem solid transparent;
//         border-top: 1.5rem solid $darkred;
//     }
// }

.frontpage {
	background: url('../img/connect_copy.png') no-repeat -15% 0;
	background-size: contain;
	padding: 2rem 1rem;
	h2 {
		font-weight: 600;
        font-size: 2rem;
		letter-spacing: 3px;
		line-height: 1;
		text: {transform: uppercase; align: center;}
		margin: 0 0 .5rem;
		color: $palegold;
	}
	button {
		width: 60%;
		margin: 1.5rem auto 1rem;
		display: block;
		@include respond-to(handhelds) { width: 100%; }
	}
}

.posts {
	&--index {
		color: $litered;
	}
	&--heading {
		color: $palegold;
		font-weight: 400;
		margin-top: 1rem;
		margin-bottom: 3.5rem;
		// text-transform: uppercase;
		// letter-spacing: 1px;
	}
	&--short {
		// display: flex;
		color: $litered;
		margin-bottom: 2rem;
		max-width: 42rem;
		padding-left: 25%;
		@include respond-to(handhelds) {
			width: 100%;
			padding-left: 0;
			// margin-bottom: 3rem;
		}
		&::after {
			content: "";
			clear: both;
			display: table;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
		a {
			color: $litered;
			&:hover { color: $palegold; }
		}
		p { margin: 0;}
		h3 {
			font-size: 1.5rem;
			font-weight: 400;
			margin: 0 0 .5rem;
		}
		&_content { }
		&_info {
			padding-right: 1.5rem;
			float: left;
			margin-left: -30%;
			@include respond-to(handhelds) {
				margin: 1rem 0;
				float: none;
				width: 100%;
				.sharing {
					display: none;
				}
			}
			.sharing {
				.icon {
					margin-top: 1rem;
					width: 3rem;
					height: 3rem;
				}
			}
		}
	}
}

.frontheading {
	margin: 0 0 1rem;
}
