.navbtn {
	display: none;
	@include media($tablet) {
		width: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 2rem;
		line-height: .75;
		padding: 1rem;
		background: $litered;
		text-align: center;
		margin: .5rem 1rem .5rem auto;
		height: auto;
		svg {
			max-height: 100%;
			fill: white;
		}
		&:active { box-shadow: inset 0px 0px 15px rgba(0,0,0,0.4); }
	}

}

.show { display: block !important; flex: 0; }
.nav {
		float: right;
		min-height: 100%;
		text-transform: uppercase;
		font: 700 1.125rem/1;
		letter-spacing: 5px;
		margin: .5rem 0;
		@include media($tablet) {
			padding: 1rem 1rem 0;
				display: none;
				width: 100%;
				float: none;
		}
		ul {
			list-style: inside none;
			width: 100%;
			text-align: right;
			@include media($tablet) { text-align: left; }
		}
		li {
			display: inline-block;
			font: 700 1.125rem/1;
			padding: 1rem;
			@include media($tablet) {
				display: block;
				border-top: 1px solid white;
			}
		}
		div {
			width: 100%;
			text-align: center;
		}
}
